@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap%27');
$darkest_background: #1B1B1B ;
$darkest_background2: #1b1b1b91 ;
$dark_background: #222222 ;
$white_background: #fefefe ;
$white_font: #fefefe ;
$nav_font_color: #777 ;
$global_font_color: #717171;
// Font :
$headings : 'Montserrat', sans-serif;
$paragraphs :  'Hind', sans-serif;
// Taille title and paragraphe Desktop:
$h1Desktop : 120px ;
$h2Dekstop : 44px ;
$h3Desktop : 32px ;
$pDesktop : 16px;
$smallerTextDesktop : 11px;
// Taille title and paragraphe Desktop:
$h1Mobile : 32px ;
$h2Mobile : 19px ;
$h3Mobile : 21px ;
$pMobile : 14px;
$smallerTextMobile2 : 10px;
//Red color ? 
$red: #F60B0E;


